<%= form_tag(notify_friend_article_path(@article), :id => 'notify_friend_form', :style => 'display:none') do %>
  <div class="field">
    <%= label_tag :name, t('general.your_name') %><br />
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag :email, t('general.your_friend_email') %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="actions">
    <%= submit_tag t('general.send_email') %>
    <%= t('general.or') %>
    <%= link_to t('general.cancel'), '#', :onclick => "$('#notify_friend_form').slideUp()" %>
  </div>
<% end %>