<%= render @article %>

<%= link_to 'Email a friend', '#', :onclick => "$('#notify_friend_form').slideDown()" %>
<%= render 'notify_friend' %>

<h3>Comments</h3>
<div id="comments">
  <%= render @article.comments %>
</div>

<%= link_to "new comment", new_article_comment_path(@article, :format => :js), :remote => true, :id => 'new_comment_link' %>
