<%= render @article %>

<%= link_to t('general.email_a_friend'), '#', :onclick => "$('#notify_friend_form').slideDown()" %>
<%= render 'notify_friend' %>

<h3><%= t('comments.comments') %></h3>
<div id="comments">
  <%= render @article.comments %>
</div>

<%= link_to t('comments.new_comment'), new_article_comment_path(@article, :format => :js), :remote => true, :id => 'new_comment_link' %>